body {
    font-family: "Times New Roman";
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    border:dotted 15px;
    padding: 1.4em 3em;
    background-color: khaki;
}

p {
    text-align: left;
    border:outset 7px grey;
    padding: 0.3em 0.5em;
}

h1 {
    text-transform: uppercase;
    font-family: "Calibri";
    font-size: 50px;
}

img {
    max-width:100%;
    height:auto;
}

img {
    max-width:100%;
    height:auto;
}

.wikitable {
    background-color: #f8f9fa;
    color: #222;
    margin: 1em 0;
    border: 1px solid #a2a9b1;

}
.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
}

.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.4em 1.4em;
}

.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: #eaecf0;
    text-align: center;
}

table {
    border-collapse: collapse;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

